

/*
navy: #284e5f
orange: #ef5127;
beige: #f2ece6;
*/

/* general */
body, html {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background: #f2ece6;
	color: #000;
}

p {
	line-height: 160%;
}

.red {
    color: #ef5127;
}

.navy {
    color: #294e60;
}

h3 {
	color: #ef5127;
}

.call-button {
	padding: 15px 50px 15px 50px;
	background: #ef5127;
	border: 0;
	color: #fff;
	display: inline;
	letter-spacing: 2px;
	float: left;
}

.call-button a:link, .call-button a:visited, .call-button a:active, .call-button a:hover {
	color: #fff;
	text-decoration: none;
}


.call-button:hover{
	cursor: pointer;
	cursor: hand;
	background: #ef9a20;
}

#register .call-button {
	float: none;
	border: 1px solid #fff;
	display: inline-block;
	margin-top: 50px;
}


#register .call-button:hover{
	border: 1px solid #ef9a20;
}

  .date-register {
        float: left;
        display: inline;
    }

.clear {
	clear: both;
}


/* cover */
#nav {
	background: #284e5f;
	width: 100%;
	height: 45px;
	text-align: center;
	padding: 12px 0 15px 0;
	position: fixed;
    z-index: 999;
}

#nav a, #nav a:active, #nav a:visited {
	text-decoration: none;
	color: #fff;
	padding-left: 20px;
}
@media (max-width: 420px) {

#nav a, #nav a:active, #nav a:visited {
    font-size: 12px;
}

}

	
#logo-box {
	width: 100%;
	height: 400px;
	margin: 0 auto;
    text-align: right;
}

.date {
	float: left;
}
@media (max-width: 420px) {
    #logo-box {
        text-align: center !important;
    }

    #logo-box img {
    	height: 200px;
    	width: 200px;
	}

    .date-register {
        padding-top: 40px;
    }

.date {
	float: none;
	margin-top: 10px;
	font-weight: 600;
}


}

#date-register-container {
	width: 350px;
	margin: 0 auto;
	padding-bottom: 20px;
}

#logo-box :nth-child(n) {
	filter: none;
}
#logo-box img {
    height: auto;
}

#cover {
	padding-top: 50px;
	background: #f2ece6 url('assets/BD_Mar_bg.jpg');
	height: 60%;
	text-align: center;
	font-weight: 600;
}

#logo-full{
	padding: 100px 0 60px 0;
	padding-top: 5%;
	height: 170px;
	width: 60%;
	max-width: 333px;
	display: block;
	margin: 0 auto;
}

@media (max-width: 420px) {
#logo-full{
	padding: 30px 0 30px 0;
}

#cover {
	padding-top: 40px;
	height: 30%;

}


#nav a, #nav a:active, #nav a:visited {
	padding-left: 5px;
}

#date-register-container {
	width: 295px;
	margin: 0 auto;
	padding-bottom: 20px;
	
}

.call-button {
	padding: 10px 30px 10px 30px;
	font-size: 0.9em;
    }

}

.date-register {
	width: 170px;
	float: left;
	padding-top: 0px;
	
}

.date {
	font-size: 2em;
	color: #284e5f;
	float: left;
	display: inline;
	margin-top: -2px;
	padding-right: 20px;
}

#register .date {
	display: block;
	float: none;
	padding: 0;
	color: #fff;
	font-weight: 600;
}


/* about */

#about {
	margin: 0 auto;
	margin-bottom: 50px;
}

.col {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.fix {
	padding: 0;
	margin: 0;
}


.tag {
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
}

/* reviewers */

#reviewers {
	margin: 0 auto;
	display: block;
	overflow: auto;
    text-align: center;
}

#reviewers-center {
	margin: 0 auto;
	overflow: auto;
    text-align: left;
    width: 440px;
}

@media (max-width: 420px) {
	#reviewers-center {
		width: 220px;
	}

.date {
	font-size: 1.5em;
}

}


.reviewer-block {
	width: 300px;
	float: left;
	padding: 30px;
	font-size: 0.8em;
}

.reviewer-block  strong {
	font-size: 1.5em;
}

.reviewer-info {
	text-align: right;
}

.reviewer-info span {
	display: block;
	padding-bottom: 4px;
	padding-top: 6px;
	
}

.social{
	height: 40px;
	width: 40px;
	padding: 5px;
	border: 0px;
}

.profile{
	height: 100px;
	width: 100px;
	border-radius: 100px;
	border: 3px #ef9a20 solid;
	float: left;
}

.profile_empty {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	border: 3px #ef9a20 solid;
	float: left;
	text-align: center;
	margin: 5px;
}



#team .profile{
	height: 100px;
	width: 100px;
	border-radius: 100px;
	border: 3px #ef9a20 solid;
	margin-right: 10px;
}

#team .reviewer-block {
	padding: 10px;
	font-size: 0.8em;
}

/* register reprise */

#register {
	width: 100%;
	background: #ef5127;
	padding: 80px 0 80px 0;
	text-align: center;
	margin-top: 25px;
	}

/* meet show tell */

#mst {
	text-align: center;
	background: url('assets/tempimage.png');
	margin-bottom: 25px;
}

#mst img{
	padding: 50px 0 50px 0;
    height: auto;
    width: 100%;
    max-width: 400px; 
}

/* contact + sponsors */

#contactspon {
	background: #284e5f url('assets/BD_Mar_bg_spon.jpg');
	text-align: center;
	display: block;
	padding: 100px 0 100px 0;
}


#team {
	display: block;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
	overflow: auto;
    text-align: center;
}

#teambox {
	margin: 0 auto;
	overflow: hidden;
    text-align: left;
}

#himher {
    height: auto;
    width: 300px;
    padding-bottom: 30px;
    padding-right: 50px;
}

@media (max-width: 420px) {

#himher {
    padding-right: 0px;
}

}

#order {
    height: auto;
    width: 150px;
}
