extends layout

block config
    - var metaTitle = "Blog • Brew Over Design | Kitchener-Waterloo Design Meetup"

block content
    section.blog-content
        .wrap.container
            .row
                article#writer.post.col-sm-12.col-md-10.col-md-offset-1
                    h2 Guest writers needed for the BOD blog!
                    .published March 4th, 2016

                    p Are you a creative writer looking for a new outlet for your thoughts, ideas and essays? We are looking for keen individuals to contribute content to our BOD blog.

                    p Maybe you are an expert in your field and you have some helpful tips & tricks or you are a generalist with great ideas on how to help & improve the design community, we are looking for a wide range of content that fits under the “creative” umbrella.

                    p 
                        strong Gig Requirements:

                        ul
                            li Able to submit content electronically
                            li Able to commit to 1-2 posts per month 

                    p BOD will highlight you with a photo and quick bio at the bottom of every social post you provide!

                    p 
                        | To apply for this position please email 
                        a(href="mailto:emartin@himandher.ca?subject=BOD Volunteering - Blog: Content Contributor") Erin Martin
                        |  with a quick summary of the type of writer you are (style and topics).

                    hr
                                        

                article#photographer.post.col-sm-12.col-md-10.col-md-offset-1
                    h2 We’re on the hunt for a day-of photography volunteer!
                    .published March 4th, 2016

                    p With our next event chalked up for April 5th at Open Sesame, we are looking for a talented (or hey, even just passionate) photographer to help us capture the evening. All photos will be uploaded to our website and sprinkled around social media.

                    p 
                        strong Gig Requirements:
                    
                        ul
                            li Your own camera, preferably an SLR of some sort so you have control over the lighting for the night…
                            li A working smile and a go-getter attitude – you feel comfortable confronting attendees and getting in funky positions for the shot

                    p BOD will collect all the photos from you and do a quick interview to get your take on the evening and to learn a little more about you for a featured blog post.

                    p 
                        | Shoot an email to 
                        a(href="mailto:emartin@himandher.ca?subject=BOD Volunteering - Day Of: Photographer") Erin Martin
                        |  to apply for the position! Thanks for your support.

                    hr
