extends layout

block config
    - var metaTitle = "Blog • Brew Over Design | Kitchener-Waterloo Design Meetup"

block content
    section.blog-content
        .wrap.container
            .row
                article.post.col-sm-12.col-md-10.col-md-offset-1
                    h2 This is a new blog!
                    .published February 8th, 2016
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non vestibulum lacus. Phasellus ornare justo vitae rutrum mattis. Quisque lacus nibh, vestibulum vitae rutrum vitae, suscipit non tortor. Praesent suscipit cursus justo...  
                    a(href="#") Read More &gt;
                    hr

                article.post.col-sm-12.col-md-10.col-md-offset-1
                    h2 This is a new blog!
                    .published February 8th, 2016
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non vestibulum lacus. Phasellus ornare justo vitae rutrum mattis. Quisque lacus nibh, vestibulum vitae rutrum vitae, suscipit non tortor. Praesent suscipit cursus justo...  
                    a(href="#") Read More &gt;
                    hr
