extends layout

block config
    - var metaTitle = "Next Event • Brew Over Design | Kitchener-Waterloo Design Meetup"

block content
    section.next-event(style="background-image: url('/img/feb2018.jpg');")
        .wrap.container
            pre Next Event
            .when February 22, 2018
            .where 7pm &bullet; THEMUSEUM

            a.btn(href="#{config.ticket}" target="_blank") Register &gt;

    section.event
        .wrap.container
            .row
                .col-sm-12.col-md-10.col-md-offset-1
                    p 
                        strong Event Details:
                    ul
                        li Come and join us at THEMUSEUM for our first event of 2018! This event is in collaboration with the Museum After Dark programming.
                        li Arrive for 7pm to settle and grab a brew before we get started. Cover is free for all Brew Over Design attendees, so please check in at the main desk upon arrival.
                        li 7:30-8:00 pm: Guest speaker & photographer, Matt Quinn will be sharing his shooting techniques and hopefully lots about his craft. After that, share in some networking, cocktails and beers with the local mixologists from B@THEMUSEUM until 9pm.

                    p It's no secret that Waterloo Region is known for its innovative nature - and for good reason. Our community is filled with creators, dreamers, artists, techies, thinkers, influencers and more. From design to tech, we’ve made strides in pushing new boundaries and thinking outside of the box. However, there’s still a little more work to do in closing that gap between the two industries.

                    p This is where Brew Over Design comes into play.

                    p Brew Over Design is an opportunity for artists, designers, photographers, illustrators, creatives and curious minds to come together and share thoughts over a good brew.

                    p Waterloo Region is continuing to grow and we are focused on merging the design and tech worlds. We want to offer the opportunity for the community to engage with one another, learn from one another, and develop meaningful relationships. Our goal is to bridge the gap between where creative stands now, and where it needs to be in order to build sustainable businesses and careers here in Waterloo Region. We are crushing the stigma that design needs to be “protected” and tech “isn’t for me”. We want to encourage collaboration and innovation by starting those conversations and providing the tools to do so.

                    p We can't wait to meet you at our next event. 

                    h2 All design-minded folk are welcome. If you’re a graphic designer, a user-experience architect, a photographer, an animator or somewhere in between; you’re among friends.

                    p 
                        strong Things to Bring:
                    ul
                        li Remember to bring business cards - this is a great time to connect!
                        li Bring money for your brews at B@THEMUSEUM.
                        li Learn more about Museum After Dark here: a(href="http://www.themuseum.ca/museum-after-dark/" target="blank")
                    p Huge thanks to THEMUSEUM for donating their space!


    section.past-events
        .wrap.container
            .row
                .col-sm-12.col-md-10.col-md-offset-1
                    .row
                        .col-xs-12
                            h4 Past Events
                        .past-event.col-sm-4
                            .wrap
                                a(href="http://www.meetup.com/The-Kitchener-Waterloo-Brew-Over-Design-Event/events/229418343/" target="_blank")
                                    img(src='img/bow_event_apr_2016.jpg')
                        .past-event.col-sm-4
                            .wrap
                                a(href="http://www.meetup.com/The-Kitchener-Waterloo-Brew-Over-Design-Event/events/203262782/" target="_blank")
                                    img(src='img/bow_event_sept2014.jpg')
                        .past-event.col-sm-4
                            .wrap
                                a(href="http://www.meetup.com/The-Kitchener-Waterloo-Brew-Over-Design-Event/events/220162563/" target="_blank")
                                    img(src='img/bow_event_mar2015.jpg')
                    br
                    .row
                        .past-event.col-sm-4
                            .wrap
                                a(href="http://www.meetup.com/The-Kitchener-Waterloo-Brew-Over-Design-Event/events/224720617/" target="_blank")
                                    img(src='img/bow_event_sept2015.jpg')
