header
    .wrap.container
        .row
            .col-sm-12.col-md-10.col-md-offset-1
                .logo.col-xs-2
                    h1
                        a(href='/'): img(src='img/bod_logo.png' alt="Brew Over Design" title="Brew Over Design Logo")
                        a.alt(href='/'): img(src='img/bod_logo_alt.png' alt="Brew Over Design" title="Brew Over Design Logo")
                nav.col-xs-10
                    .row
                        ul.links.col-xs-12.col-sm-10
                            li 
                                a.event-link(href="/event") Event
                            li 
                                a.blog-link(href="/blog") Blog
                            li 
                                a(href="#" data-toggle="modal" data-target="#contact") Contact
                        ul.social.col-xs-12.col-sm-2
                            li 
                                a(href="https://twitter.com/brewoverdesign")
                                    i.fa.fa-twitter
                            li 
                                a(href="http://www.meetup.com/The-Kitchener-Waterloo-Brew-Over-Design-Event/") 
                                    i.fa.fa-ticket
