extends layout

block config
    - var metaTitle = "Brew Over Design | Kitchener-Waterloo Design Meetup"

block content
    section
        .wrap.container
            .row
                .intro.col-sm-12.col-md-10.col-md-offset-1
                    h2 
                        | Brew Over Design is an event that aims to 
                        br
                        span 
                            strong inspire collaboration 
                            | and 
                            strong conversation
                        br
                        | in the Kitchener-Waterloo design community
            .row
                .sub-intro.col-sm-12.col-md-10.col-md-offset-1
                    hr
                    p All design-minded folk are welcome. If you’re a graphic designer, a user-experience architect, a photographer, an animator or somewhere in between; you’re among friends.

    section.next-event(style="background-image: url('/img/march.jpg');")
        .wrap.container
            pre Next Event
            .when April 5th, 2016
            .where 7pm &bullet; Open Sesame

            a.btn(href="/event") &lt; Learn More
            a.btn(href='#{config.ticket}' target="_blank") Register &gt;

    section.sponsor
        .wrap.container

    section.recent
        .wrap.container
            .row
                .col-sm-12.col-md-10.col-md-offset-1
                    .row.flex
                        .sponsor.col-sm-6.no-pad
                            h4 We are so appreciative of our volunteers and sponsors.
                            p Brew Over Design is a community event, so every little bit helps. Like, alot!
                            a.btn.btn-tight(href="#" data-toggle="modal" data-target="#sponsor") Become a Sponsor &gt;

                        .news.col-sm-6
                            ul
                                li
                                    p Volunteers Needed
                                li
                                    a(href="/blog#photographer") Day Of: Photographer
                                li
                                    a(href="/blog#writer") Blog: Content Contributor
                                li
                                    a(href="mailto:emartin@himandher.ca?subject=BOD Volunteering - Social: Content Manager") Social: Content Manager
                                    

    section.newsletter
        .wrap.container
            .row 
                .col-sm-12.col-md-10.col-md-offset-1
                    h3 Sign up for the Brew Over Design newsletter to get the scoop on all things design in Kitchener-Waterloo!
                    <!-- Begin MailChimp Signup Form -->
                    #mc_embed_signup
                        form(action="///brewoverdesign.us8.list-manage.com/subscribe/post?u=95a966f37be8b473062195170&amp;id=784c4f284b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
                            #mc_embed_signup_scroll.row

                                #mce-responses.clear
                                    .response#mce-error-response(style="display:none")
                                    .response#mce-success-response(style="display:none")
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

                                div(style="position: absolute; left: -5000px;" aria-hidden="true")
                                    input(type="text" name="b_95a966f37be8b473062195170_784c4f284b" tabindex="-1" value="")
                            
                                .mc-field-group.col-sm-4
                                    <!-- <label for="mce-FNAME">First Name </label> -->
                                    input(type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Your Name")

                                .mc-field-group.col-sm-4
                                    <!-- <label for="mce-EMAIL">Email Address </label> -->
                                    input(type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your Email")

                                <!-- .mc-field-group -->
                                <!--    <label for="mce-LNAME">Last Name </label> -->
                                <!--    <input type="text" value="" name="LNAME" class="" id="mce-LNAME"> -->

                                .col-sm-4
                                    input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn")

                    <!--End mc_embed_signup-->
